<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Greta{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('style/style.css') }}"/>{% endblock %}
    </head>
    <body>

        <header>
            <div id="identifiant">
{#                <a href="avatar"><img id="avatar" src={{asset('upload/avatar/'~user.avatar) }} alt="avatar"/></a>#}
                <p>Bonjour <b>Nom Prénom</b>  !</p>

            </div>

            <div id="centreHeader"> <a href="http://localhost:8000/"><img id="logo" src="{{ asset('img/greta.png') }}" alt="logo"></a></div>

            <nav id="menu">
                <ul>
                    <a href="/"><li>Accueil</li></a>
                    <a href="#"><li>Compte</li></a>
                    <a href="#"><li>Déconnexion</li></a>
                </ul>
            </nav>
        </header>

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <footer>
        <a href="#" id="mentions">Mentions Légales</a>
        <div id="texte">Site réalisé en 2019 par la formation TP Développeur Web</div>
    </footer>
    </body>



</html>

